html, body {
	width: 1000px;
	margin-left: 15%;
}


#header {
	height: 2.5in;
	background-image: url("./images/top-image.jpg");
	display: flex;
	flex-direction: column-reverse;
	background-size: cover;
	padding-top: 10px;
}

.header-nav {
	align-self: flex-end;
}
.header-nav li {
	display: inline-block;
	font-family: sans-serif;
	font-size: large;
	padding: 0px 10px;
}

.header-nav a {
	text-decoration: none;
	color: darkred;
	background-color: rgb(255, 255, 255, 0.7);
}
.header-nav a:visited {
	color: none;
}
.header-nav a:hover {
	background-color: rgb(255, 255, 255, 0.5);
}

.header-nav .current {
	background-color: rgba(255, 255, 255, 1.0);
}

#name {
	color: darkred;
	text-align: center;
	font-family: cursive;
}
#profile-pic {
	text-align: center;
}
.footer {
	width: inherit;
	height: 1in;
	display: block;
	background-color: darkturquoise;
	color: darkred;
	margin-top: 20px;
}
.footer div {
	width: auto;
	height: auto;
	display: inline-flex;
	padding: 0px 20px;
}
.footer li {
	color: darkred;
	font-family: cursive;
	font-size: large;
	list-style: none;
}
.footer a {
	color: inherit;
	text-decoration: none;
}
.footer a:hover {
	background-color: rgb(255, 255, 255, 0.6);
	text-decoration: inherit;
}

.SNS {

}

.SNS a {
	padding: 10px;
}
.iconcolor {
	color: darkred;
}

.button-publications {
	display: inline-block;
	width: 400px;
	height: 400px;
	padding: 40px 40px;
	align-items: center;
	justify-content: center;	
}

.button-publications button {
	font-size: xx-large;
	height: 300px;
	width: 300px;
	margin: 50px;
	color: darkred;
	border: solid;
	border-width: 3px;
	border-radius: 10%;
	align-self: center;
}

.tg  {borderborder-spacing:0; border-style: solid; background-color: azure;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-t0np{font-family:"Comic Sans MS", cursive, sans-serif !important;;text-align:left;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg a {
	text-decoration: none;
}
.tg a:visited {
	text-decoration: none;
}
.tg a:hover {
	text-decoration: none;
	background-color: rgb(255, 255, 255,0.6);
}